{{define "date-time"}}
<div id="date">
    Montag, 01. Januar 1970
</div>
<div id="time">
    <div id="hours-minutes">
        00:00
    </div>
        <div id="seconds">
            00
        </div>
</div>
{{end}}