{{define "date-time"}}
    <div class="date-time">
        <div id="todaysDate">
            Montag, 01. Januar 1970
        </div>
        <div id="currentTime">
            <div id="hours-minutes">
                00:00
            </div>
            <div id="seconds">
                00
            </div>
        </div>
    </div>
{{end}}