{{define "footer"}}
<footer>
    <style>
        footer{
            position: absolute;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0%;
        }
        #myLogo{
            width: 102px;
            height: 90px;
        }
    </style>
    <img id="myLogo" src="/client/img/Logo.png">
</footer>
{{end}}