<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    {{/*    <meta http-equiv="refresh" content="5">*/}}
    <title>MagicMirror</title>

    <link rel="stylesheet" type="text/css" href="/client/css/main.css">
    <link rel="stylesheet" type="text/css" href="/client/css/leftbar.css">
    <link rel="stylesheet" type="text/css" href="/client/css/rightbar.css">


</head>
{{/*<body onload=FuelPrice()>*/}}
<body>
<div id="container">
    {{template "header"}}
    <div class="region left bar">
        <div class="region top left">
            {{template "date-time"}}
        </div>

        <div class="region center left">
            {{template "calender"}}
            {{template "notifications"}}
        </div>

        <div class="region bottom left">
        </div>
    </div>


    <div class="region right bar">
        <div class="region top right">
            {{template "weather"}}
            {{template "forecast"}}
        </div>
        <div class="region center right">
            {{template "hvv"}}
            {{template "traffic" .Traffic}}
            {{template "fuel-price"}}
        </div>
    </div>

    {{/*    <div class="region middle bar">*/}}
    {{/*        <div class="welcomeScreen">*/}}
    {{/*            <p id="welcome">Willkommen NAME</p>*/}}
    {{/*        </div>*/}}

    {{/*        <div class="news">*/}}
    {{/*            <p id="lastChangeNews">vor 30 Minuten:</p>*/}}
    {{/*            <p id="News">12 Tote in der Bahn durch Bombenanschlag</p>*/}}
    {{/*        </div>*/}}
    {{/*    </div>*/}}

    {{template "footer"}}

    {{/*    Javascript*/}}
    <script src="/client/js/time.js"></script>
    <script src="/client/js/notification.js"></script>
    <script src="/client/js/calender.js"></script>
    <script src="/client/js/tankerkoenig.js"></script>
    <script src="/client/js/hvv.js"></script>
    <script src="/client/js/weather.js"></script>
    <script src="/client/js/forecast.js"></script>
    <script src="/client/js/errorHandler.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(Calender);
        $(document).ready(FuelPrice);
        $(document).ready(HVV);
        $(document).ready(CurrentWeather);
        $(document).ready(Forecast);
        // $(document).ready(notifier);
    </script>

</div>
</body>
</html>