{{define "notifications"}}
    <div class="notifications">
        <p>Benachrichtigungen</p>
        <hr>
        <ul class="notifications-list">
            <li>Dummy Data</li>
            <li>Dummy Data</li>
            <li>Dummy new Updates</li>
        </ul>
    </div>
{{end}}